@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	background-color: #fdfdfd;
	height: auto;
	font-weight: 400;
}

h2 {
	font-weight: 700;
	font-size: 1.7rem;
	margin: 0;
}

h3 {
	font-weight: 400;
	font-size: 1.2rem;
	text-transform: capitalize;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

main {
	max-width: 1440px;
	margin: auto;
}

input {
	padding: 1rem 1rem;
	font-size: 1rem;
	border: 1px #ccc solid;
	border-radius: 0.3rem;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	width: 90%;
	margin: auto;
}

i {
	color: #244C66;
}

.btn {
	background-color: #244C66;
	color: #fff;
	padding: 0.5rem 1rem;
	border: 1px #ccc solid;
	border-radius: 0.3rem;
	text-decoration: none;
	font-size: 1rem;
	align-self: center;
	text-align: center;
	cursor: pointer;
}

.btn:hover {
	background: #193547;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 0.7rem 2rem;
}

nav h3 {
	display: inline-block;
	flex-basis: 60vw;
	align-self: center;
}

.nav-btn {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

#landing, #newsletter {	
	background: url(https://source.unsplash.com/P8zDQz8Y2Vc);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 0 1 60vw;
	margin: 0;
	color: #fff;
}

#landing {
	height: 80vh;
}

#newsletter {
	height: 60vh;
}

#landing h2, #newsletter h2 {
	flex: 0 1 40vw;	
	width: 80%;	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#landing h2 {
	margin: 7rem auto 2rem;
	height: 20vh;
}

#newsletter h2 {
	margin: 5rem auto 0.5rem;
	height: 10vh;
}

.overlay {
	position: absolute;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#landing-overlay {
	height: 80vh;
}

#newsletter-overlay {
	height: 60vh;
}

.long-input {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.long-btn {
	display: block;
	width: 100%;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

#features {
	padding-top: 5rem;
	padding-bottom: 5rem;
	font-size: 1.3rem;
}

.features-item {
	max-width: 20rem;
	margin: auto auto 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.features-icon i {
	margin: 1.2rem;
}

#features .features-item:hover .features-icon i {
	font-size: 4.3em;
	margin: 1.01rem;
}

.features-item h2 {
	margin-bottom: 1rem;
}

.features-item p {
	max-width: 15rem;;
	margin: auto;
	font-weight: 300;
}

.showcase-img {
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	flex: 0 1 50vw;
	margin: 0;
}

.bread-img {
	background: url(https://source.unsplash.com/DvQTegwcMWg);
	background-size: cover;
}

.cookie-img {
	background: url(https://source.unsplash.com/j2yLCAi9brQ);
	background-size: cover;
}

.cake-img {
	background: url(https://source.unsplash.com/lsqPDLZMy2I);
	background-size: cover;
}

.showcase-caption {
	padding: 3rem;
	font-weight: 300;
}

#testimonials {
	background-color: #f4f5f6;
	padding: 6rem 0.5rem;
	text-align: center;
}

#testimonials h2 {
	margin-bottom: 3.5rem;
}

.testimonial-item {
	margin-bottom: 3rem;
	max-width: 18rem;
	margin-left: auto;
	margin-right: auto;
}

.testimonial-item img {
	max-width: 12rem;
	box-shadow: 0 5px 5px #8aa0ae;
	height: 200px;
	width: 200px;
}

.testimonial-item h5 {
	font-size: 1.25rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.img-fluid {
	margin: 0 auto;
	margin-bottom: 1rem; 
}

.rounded-circle {
	border-radius: 50%;	
}

footer {
	padding: 4em 0;
}

.menu {
	width: 80%;
	margin: auto;
	text-align: center;
}

.menu-list {
	color: #244C66;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.menu-list .list-item:not(:last-child) {
	margin-right: 0.5rem;
}

.menu-list .list-item a {
	color: #244C66;
}

.menu-list .list-item:hover a {
	text-decoration: underline;
	color: #193547;
}

.menu p {
	color: #5f5f5f;
	font-size: 0.8rem;
	font-weight: 400;
	margin-bottom: 1.8rem;
}

.menu p a {
	color: #244C66;
}

.menu p a:hover {
	text-decoration: underline;
	color: #193547;
}

.social-media-list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media-list .list-item:not(:last-child) {
	margin-right: 2.5rem;
}

.social-media-list i:hover {
	color: #193547;
}

/* Screen Sizes 767px and Up */
@media(min-width: 767px) {	
	h2 {
		font-weight: 700;	
	}
	
	#landing h2 {
		font-size: 3rem;
		margin: 6rem auto 2rem;
		height: 35vh;
	}
	
	#newsletter h2 {
		font-size: 2rem;	
		margin: 7rem auto 0.5rem;
	}

	.long-input {
		display: inline-block;
		width: 60%;
		margin-bottom: 0;
		margin-right: 1rem;
	}
	
	.long-btn {
		display: inline-block;
		width: 20%;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.showcase-caption {
		padding: 6rem;
	}

	.showcase-caption h2 {
		font-size: 2rem;
	}
	
	.showcase-caption p {
		font-size: 1.25rem;
	}
}

/* Screen Sizes 990px and Up */
@media(min-width: 990px) {	
	.container {
		max-width: 1140px;
		margin: auto;
	}

	#landing {
		height: 90vh;
	}

	#landing-overlay {
		height: 90vh;
	}

	#features .container {
		display: flex;
	}

	.showcase-item {
		display: flex;
	}

	.reverse {
		flex-direction: row-reverse;
	}

	.showcase-img, .showcase-caption {
		flex: 0 1 50vw;
	}

	.showcase-img {
		min-width: 50%;
	}

	.showcase-caption {
		margin: auto;
	}

	#testimonials .container {
		display: flex;
		justify-content: space-evenly;
	}

	footer {
		display: flex;
	}

	.menu, #social-media{
		width: 100%;
		margin: 0;
		flex: 0 1 50vw;
	}

	.menu, .menu-list {
		text-align: justify;
		justify-content: initial;
		
	}
	
	.menu {
		padding-left: 10em;
	}
}
